<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Enumerable Planets</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</head>
<body>

<div class="container">
<h1>Pick a planet:</h1>

<p> The planets and their length of year.</p>

<div class="container">
<table class=" table table-bordered">
    <thead>
        <tr>
            <th>Planets</th>
            <th>Length of Year</th>
        </tr>
    </thead>

    <tbody>
        <tr th:each="planet : ${planets}">
            <td th:text="${planet.name}"></td>
            <td th:text="${planet.yearLength} + ' Earth days in one year.' "></td>
        </tr>

    </tbody>



</table>
</div>

</body>
</html>